/*  your css code here. If applicable */
h1{
	text-align:center;
}
h2{
	text-align:center;
}
li{
	list-style-type:none;
}
a[target="-blank"]{
	text-decoration-line:none;
}
video[controls=".player_one"{
	background-color: rgb(255,255,255);
	padding:0;
	border-radius: 50px;
		text-align: center;
}
body{
	background-color : rgb(204,204,204);
}
