/*  your css code here. If applicable */
#a{
	background-colo :white;
	width: 500px;
	marggin : 0;
	border : 1px solid black;
	height: 100%
	
}
*{
	background-color:rgb(204, 204, 204);
}
#b{
	border : 1px solid black;
	text-align: center;
	width : 45%;
	height :120%;
	background-color : white;

}
	#controls{
	background-color: rgb(255, 255, 255);
		padding: 0;
		border-radius:2rem;
	}
	h1{
		text-align:center;
	}
	h2{
		text-align:center;
	}